/* Copyright 2021 AJE https://github.com/jenevieveee */

.typeimage .image_container {
    max-height: 120vh !important;
    overflow: hidden;
}
.typetext .textcontent {
    max-height: 120vh !important;
    overflow: hidden;
}
